body {
  background-color: rgb(248, 161, 151);
}

header {
  background-color: #ac4e3c;
  font-weight: bold;
  font-family: 'Fuzzy Bubbles', cursive;
  list-style: none;

}

header nav {
  width: 100%;
  margin: auto;
  display: flex;
  list-style: none;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

#logo {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navlink{
  font-size: 25px;
  color: white; 
}

table{
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-family: 'Fuzzy Bubbles', cursive;
}

table, td, th {
  border: 2px solid #470b00;
  
}

td, th{
  padding:10px;
}
thead th{
  font-weight: bolder;
}


/* Form styling */
/* form {
  width: 50%;
  margin-top: 2rem;
} */
fieldset {
  display: flex;
  align-content: space-between;
  border: 1px solid ;
  border-color: #470b00;
  width:100%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 20px;
  text-align: center;
  width: 1450px;
  font-size: 25px;
  font-family: 'Fuzzy Bubbles', cursive;
  background-color:chocolate;

}

footer {
  display: flex;
  justify-content: center;
  background-color: #ac4e3c;
  height: 50px;
 padding: 10px; 
}

#address{
  padding: 10px;
  font-size: 20px;
  font-family: 'Fuzzy Bubbles', cursive;
}
