
header{
  background-color: darkgray;
}
header nav{
width: 960px;
margin: auto;
display: flex;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

#logo{
 margin-top:5px;
 margin-bottom: 5px;
}

main{
  background-color: gray;
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
main img{
  margin-bottom: 30px;
}

main article{
  width: 450px;  
}
main article section{
  overflow: auto;
  height: 320px;
}
section{
  padding-bottom: 5px;
}
button{
  margin:5px;
  padding: 5px 5px;
  color:white;
  background-color: black;
  height: 30px;
 
}
footer{
  background-color: rgb(187, 178, 178);
  height: 50px;
}
